body {
    background-color: palevioletred;
    margin: auto;
    padding: auto;
}

.container {
    width: 1000px;
    background-color: silver;
    margin: auto;
    padding: 15px;
    height: 1000px;
}

h1 {
    background-color: chocolate;
    border: 2px rgb(12, 12, 12);
    margin-bottom: 10px;
    padding: 10px;
}

nav {
    background-color: darkcyan;
    border: rgb(12, 12, 12);
    margin-bottom: 10px;
    padding: 15px;
}

.columns {
    float: left;
    width: 230px;
    padding: 10px;
}

footer {
    clear: left;
}