/* WHOLE PAGE */
body {
	background-color: dimgray;
	margin: auto;
	padding: auto;
}


.container {
    width: 1000px;
    background-color: silver;
    margin: auto;
    padding: 15px;
    height: 1000px;
}


/* FOR ALL 3 PAGES: HOME, ABOUT, CONTACT */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(242, 206, 212);
	padding: 10px 15px;
    margin-bottom: 10px;
	border: 2px solid rgb(0, 0, 0);
}


h1 {
    font: italic border 16px/125% times, serif;
}


/* FOR ALL 3 PAGES: HOME, ABOUT, CONTACT */
nav {
    display: inline-block;
    padding-right: 10px;
    padding: 10px;
    border-radius: 50%;
}


/* FORM ON CONTACT PAGE */
input[type=text], input[type=email], textarea {
	width: 100%;
	padding: 12px;
	box-sizing: border-box;
	border: 1px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
}


